<div class="container">
    <h3 class="h3">FOODS AND DRINKS</h3>
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="product">
                <div class="image">
                    <a href="#">
                        <%= image_tag("food.jpg", class: "image") %>
                    </a>
                </div>
                <div class="content">
                    <h3 class="title"><a href="#">Food</a></h3>
                    <div class="price">
                        <span>$10.00</span>
                    </div>
                </div>
                <ul class="button">
                    <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                    <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product">
                <div class="image">
                    <a href="#">
                        <%= image_tag("food.jpg", class: "image") %>
                    </a>
                </div>
                <div class="content">
                    <h3 class="title"><a href="#">Food</a></h3>
                    <div class="price">
                        <span>$10.00</span>
                    </div>
                </div>
                <ul class="button">
                    <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                    <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product">
                <div class="image">
                    <a href="#">
                        <%= image_tag("food.jpg", class: "image") %>
                    </a>
                </div>
                <div class="content">
                    <h3 class="title"><a href="#">Food</a></h3>
                    <div class="price">
                        <span>$10.00</span>
                    </div>
                </div>
                <ul class="button">
                    <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                    <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product">
                <div class="image">
                    <a href="#">
                       <%= image_tag("food.jpg", class: "image") %>
                   </a>
               </div>
               <div class="content">
                <h3 class="title"><a href="#">Food</a></h3>
                <div class="price">
                    <span>$10.00</span>
                </div>
            </div>
            <ul class="button">
                <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
            </ul>
        </div>
    </div>
</div>
</div>
<hr>
<hr>
