<!DOCTYPE html>
<html>
<head>
  <% provide :title, t("home.name") %>
  <% provide :base_title, t("base.title") %>
</head>
<body>
  <div class="container text-center">
    <div class="row">
      <%= render "static_pages/banner" %>
      <hr>
      <h3><%= t ".products" %></h3>
      <hr>
      <%= render @products || t("home.products_not_have") %>
    </div>
    <div class="row center">
      <%= will_paginate @products %>
    </div>
  </div>
</html>
