<div class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container">
    <p class="navbar-text pull-left">
      <%= t("footer.content") %>
    </p>
    <p class="navbar-text pull-right">
      <%= link_to t("footer.english"), locale: :en %>
      <span>||</span>
      <%= link_to t("footer.vietnamese"), locale: :vi %>
    </p>
  </div>
</div>
