<tr>
  <td><%= order_detail.product_name %></td>
  <td><%= order_detail.quantity %></td>
  <td><%= number_to_currency order_detail.current_price %></td>
  <td><%= number_to_currency order_detail.total %></td>
</tr>
