@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "color.scss";

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* header */
#logo {
  padding: 0;
  margin-right: 10px;
  font-size: 2.3em;
  color: $logo-color;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}
.logo{
  height: 40px;
  width: 40px;
}
#logo:hover {
  color: $logo-color;
  text-decoration: none;
}
.navbar-inverse{
  background-color: #000000;
  font-family: 'Times New Roman', Times, serif;
}
/*Carousel*/
.carousel-inner > .item > img, .carousel-inner > .item > a > img{
  height: 500px;
  width: 1300px;
}
/* Product Items*/
.grid{
  border: solid $border-color 1px;
  padding: 15px;
}
.product{
  text-align: center;
  .image{
    display: block;
    height: 80px;
    .food{
      height: 80px;
      width: 130px;
    }
  }
  .title{
    margin: 10px 2px 1px;
    font-size: 18px;
  }
  .content .title :hover{
    text-decoration: none;
  }
  .action{
    list-style-type: none;
    justify-content: center;
    padding: 0;

    a{
      font-size: 10px;
    }

    i{
      font-size: 13px;
      width: 10px;
      height: 10px;
    }

    button{
      outline: none;
      border: none;
      i{
        text-align: center;
        margin: 10px;
      }
    }
  }
}
/* Home*/
.text-center {
  text-align: center;
}
/* Errors*/
#error_explanation {
  color: $state-danger;
  ul {
    color: $state-danger;
    margin: 0 0 30px;
  }
}
.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger;
  }
}
/* Cart */
.cart-row {
  .food{
    width: 100%;
  }
}
.img-cart{
  width: 100%;
}
#shopping{
  padding-bottom: 100px;
}

/* Product Detail */
.item-photo{
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px
  solid $logo-color;
  .food{
    width: 100%;
  }
}
.info{
  padding-bottom: 100px;
  margin-top: -28px;
}
